<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Flask App</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	  <style>
body {
  background-image: url("https://static.wixstatic.com/media/1b17ad_e032a1a62a1a4e928a76cffbaf06d9df~mv2.jpg");
  background-repeat: no-repeat;
  background-size: auto;
 background-position: top;
}
</style>
</head>
      <body class='bg-dark'>
    <div id="predict" class="text-center row p-2 justify-content-center">
      <div class="col-12 mb-1">
        <h2 style="color: #c7d7e2"> Drillbit Performance - Capstone Group-C </h2>
      </div>
      <div class="col-2">
        <div class="row justify-content-around">
    <title>Drill_bit_performance</title>




<div class="result" align="center">
        <br>
        <b style="color: #c7d7e2"> Predicted Rate of Penetration m/hour: </b>
           <p style="color: #c7d7e2">{{ result }}</p>
</div>
</html>